<div class="panel text-center approval-process-container">
  <!-- <p><strong>Approval Status:</strong></p> -->
  <div id="approval-statuses" class="s12">

    <div class="status s3 success">
      <div class="text-center">Begun by requester</div>
    </div>

    <div class="status s3 <%= @user_key.at_stage?(:awaiting_filters, true) ? 'success' : 'info' %>">
      <div class="text-center">Submitted</div>
    </div>

    <div class="status s3 <%= @user_key.at_stage?(:awaiting_confirmation, true) ? 'success' : 'info' %>">
      <div class="text-center">Assigned Filters</div>
    </div>

    <div class="status s3 <%= @user_key.at_stage?(:confirmed) ? 'success' : 'info' %>">
      <div class="text-center">Confirmed</div>
    </div>

  </ul>
</div>
