<ol>
  
  <% for answer in @user_key.answers %>
  <li>
    <label><em><%= answer.question.message %></em></label>
    
    <% if answer.message.blank? and answer.question.required %>
          <h3><small>To be completed</small></h3> 
          <!-- hacky way to get the styling we want, foundation makes small headings grey out -->
    <% else %>
        <p><span><%= answer.message %></span></p>
    <% end %>
    
  <% end %>
  </li>
  
</ol>