<h3>Sample Response: </h3>
      <pre class="prettyprint">{
    "pageNumber": 1,
    "pageSize": 2,
    "totalItems": 1223,
    "totalPages": 612,
    "items": [
        {
            "eventName": "Super Fun Picnic",
            "organizationName": "Cool Organization",
            "endDateTime": "1329048200000",
            "externalLocationId": null,
            "locationId": null,
            "locationName": "",
            "addressStreet1": "",
            "addressCity": "",
            "addressZipPostal": ""
        },
        {
            "eventName": "Hanging Out",
            "organizationName": "Organization 2",
            "endDateTime": "1340184900000",
            "externalLocationId": null,
            "locationId": null,
            "locationName": "",
            "addressStreet1": "",
            "addressCity": "",
            "addressZipPostal": ""
        }
    ]
}</pre>