<% ea = @user_key.express_app %>

<h3>Express Application</h3>

<p>
  <b>Project Description:</b>
  <span><%= ea.reasoning %></span>
</p>

<p>
  <b>Project End Date</b>
  <span><%#= @user_key.time_expired.strftime("%e %b %Y %H:%M:%S%p") %></span>
</p>

