<hr/>

<p>
  <h3>Special Organization Access</h3>
  <% if @user_key.organizations.empty? %>
    None
  <% else %>
    <ul>
      <% for org in @user_key.organizations %>
        <li><span class="success"><%= org.name %></span></li>
      <% end %>
    </ul>
  <% end %>
</p>