<!-- Pass in object_symbol i.e. :filters, object_name i.e. "Filter"-->

<p>
  <b><%= pluralize(@user_key.send(object_symbol).size, object_name) %></b><br />
  <ul style="list-style: none; margin: 0; padding: 0;">
    <% for resourceName in @user_key.send(object_symbol).map{|f| f.resource} %>
      <li><%= resourceName.capitalize + " " + pluralize(@user_key.send(object_symbol).size, object_name)%></li>
      <ul>
        <% for obj in @user_key.send(object_symbol) %>
          <% if obj.resource == resourceName %>
            <% if object_name == "Filter" %>
              <li><%= link_to((obj.name), filter_path(obj))%></li>
            <% else %>
              <li><%= obj.name %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </ul>
</p>

