<hr/>

<p>
  <h3>Special Organization Access</h3>
  <% if @user_key.organizations.empty? %>
    None
  <% else %>
    <ul>
      <% for org in @user_key.organizations %>
        <li><%= link_to org.name, org, class: (org.active ? "success" : "alert")%></li>
      <% end %>
    </ul>
  <% end %>
</p>