<h2>Log In</h2>

<p>Temporary login page. Login as "admin" for admin rights.</p>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "andrew id" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>