# Basic gitignores for a ruby project
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# From Prof H's ignore files
.DS_Store
*.log
tmp/**/*

## Environment normalisation:
/.bundle
/vendor/bundle

# Ignore application configuration
/config/application.yml
