<p><%= @user.andrew_id %> has submitted an application to request a key titled <%= @user_key.name %>. 
View their application at <%= link_to nil, user_key_url(@user_key) %> to assign filters or comment on the application. </p>