<h1>All Users</h1>

<div class="s7">
  <%# Begin @requesters %>
  <div id="requesters">
    <%= render partial: 'users/index_partials/index_table', locals: {user_type: "requesters", users: @requesters } %>
  </div>
<%# Kaminari paginate %>
<div id="paginator" class="left">
  <%= paginate @requesters, remote: true %>
</div>

</div>

<div class="s5">
  <%# Begin @staff %>
  <%# anyone looking at @staff is staff, so @staff is never empty %>
  <%= render partial: 'users/index_partials/index_table', locals: {user_type: "staff", users: @staff } %>
</div>
