<!-- passed in local boolean_label as true or false -->
<!-- Passed in "true_message and false_message"--->

<% if boolean_label %>
  <span class="success label"><%= true_message %></span>
<% else %>
  <span class="secondary label"><%= false_message %> </span>
<% end %>