<% if object.errors.any? %>
  <fieldset class="error_explanation">
    <% object.errors.each do |key, message| %>
      <p><strong>Error: </strong></hp>
      <%= key unless key==:base %> <%= message %></li>
    <% end %>
  </fieldset>
<% end %>