<% if object.errors.any? %>
  <fieldset class="error_explanation">
    <% object.errors.each do |key, message| %>
      <p><strong>Error: </strong></hp>
      <%# Don't print the key to the error for base messages, which are written to be full sentences. %>
      <%= key unless key.to_s.split('.').last=="base" %> <%= message %></li>
    <% end %>
  </fieldset>
<% end %>