<% if object.errors.any? %>
  <fieldset class="error_explanation">
    <p><strong class="alert"><%= pluralize(object.errors.count, "error") %></strong> occurred:</hp>

    <ul>
    <% object.errors.each do |key, message| %>
      <li><%= key unless key==:base %> <%= message %></li>
    <% end %>
    </ul>
  </fieldset>
<% end %>