<p>

<span class="has-tip tip-top" data-tooltip aria-haspopup="true" title="
These are the most common shortcuts used.
<br/>

<table>
  <th>Text Shortcut</th>
  <th>Appearance On Page</th>
  <tr>
    <td>## Big Header</td>
    <td><h2>Big Header</h2></td>
  </tr>
  <tr>
    <td>### Small Header</td>
    <td><h3>Small Header</h3></td>
  </tr>
  <tr>
    <td>**Bold**</td>
    <td><b>Bold</b></td>
  </tr>
  <tr>
    <td>*Italics*</td>
    <td><i>Italics</i></td>
  </tr>
  <tr>
    <td>+Bullet<br/>
        +Bullet
    </td>
    <td><li>Bullet</li><li>Bullet</li></td>
  </tr>
    <tr>
    <td>*** is 3 asterisks<br/>
    </td>
    <td><hr/>is 3 asterisks</td>
  </tr>
  </tr>
    <tr>
    <td>[CMU](www.cmu.edu/)<br/>
    </td>
    <td><a href='www.cmu.edu/'>CMU</a></td>
  </tr>
</table>">For security purposes, user-input text is styled using <strong>Markdown</strong> shortcuts.</span>

<p/>
 