<h1>Welcome to The Bridge API</h1>
<p> This API provides access to organization and event information at CMU via The Bridge.

<% if logged_in? %>
  <% if @current_user.role? :admin %>
   <%= render :partial => "admin_dashboard" %>

  <% else %>
   <%= render :partial => "requester_dashboard" %>
  <% end %>

<% else %>
Login to begin.
<% end %>
