<div class="panel"> 

 <h3>Welcome, <%="#{@current_user.first_name}"%></h3>
 
 <br/>
 
 <% if @current_user.role? :is_staff %>
  
  <%= render :partial => "staff_dashboard" %>
 
 <% else %>
  
  <%= render :partial => "requester_dashboard" %>
 
 <% end %>
 
</div>