<h1>Welcome to the ShinyMetal API</h1>
<p> This API provides access to organization and event information at CMU from the Bridge. </p>

<% if can? :manage, :all %>
 <%= render :partial => "admin_dashboard" %>
<% end %>
