<!--Passed in text_item as symbol variable from application_text partial-->
<div class="collapsed_row">
  <div class="three-column">
    <%= f.label text_item, class: "prefix" %>
  </div>
  <div class="nine-column">
    <%= f.text_area text_item, cols: 40, rows: 12 %>
  </div>
</div>