<h1>Listing User Keys</h1>

<table>
  <thead>
    <tr>
      <th>Key Id</th>
      <th>User</th>
      <th>Submitted</th>
      <th>Shared with approvers</th>
      <th>Confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="user_keys">
<%= render partial: 'user_keys/index_partials/user_key', collection: @user_keys %>
  </tbody>
</table>

<!-- Kaminari paginate -->
<div id="paginator">
  <%= paginate @user_keys, remote: true %></div>
</div>

<br>

<%= link_to 'New User key', new_user_key_path, class: "big-button" %>
