<h1>Your Keys</h1>

<div id="own_user_keys">
  <%= render partial: 'user_keys/index_partials/index_table', locals: { keys: @user_keys, list_all: false } %>
</div>

<%# Kaminari paginate %>
<div id="paginator">
  <%= paginate @user_keys, remote: true %></div>
</div>

<br>

<%= link_to 'New User key', new_user_key_path, class: "big-button" %>
