<!--Each user is passed in as part of the collection-->
  <tr>
	<td><%= link_to user.andrew_id, user %></td>
	<td><%= user.role %></td>
	<td><% if user.is_approver %>
               <span class="success label">Yes</span>
                 <% else %>
               <span class="secondary label">No</span>
	   <% end %>
        </td>
	<td><%= link_to 'Edit', edit_user_path(user), class: "small-button" %></td>
  </tr>