<ol>
  <%= render partial: 'user_keys/form_partials/common_form_items', locals: {f: f} %>

  <%= f.fields_for :answers do |answer_form| %>

      <%# answer_form.options[:child_index] is the index of the object in params attributes. %>
      <%# If the answer has already been created, use that answer's question. %>
      <%# Otherwise, this index is used as the index to the @questions list to maintain the right ordering of the answers.%>
      <% question = answer_form.object.question || @questions[answer_form.options[:child_index]] %>
      <li>
        <strong>
        <%= markdown((question.required ? "**Required** " : "") + question.message) %>
        <%= answer_form.text_area :message, rows: "8" %>
      </li>

  <% end %>

</ol>
