<h3>Terms</h3>

<p>ONLY projects and proposals from current students, faculty, and staff
will be reviewed. Group proposals from Student Government recognized
student organizations,
fraternities and sororities, departmentally-recognized organizations,
and house communities will be considered.</p>

<p>Requests related to class assignments or academically-based
projects/initiatives may also be submitted for review.</p>

<p>Requests for individually-identifiable student data will not be approved.
Only aggregate data will be provided.</p>

<p>Student Affairs and Student Government reserve the right to publish key
information on any approved projects or initiatives utilizing the API key
including project/initiative overview, goals, and regular updates.
University policy regarding intellectual property and copyright will apply
to projects/initiatives utilizing the API and/or data from The Bridge.</p>

<%# Agree to sell your soul to Student Activities here %>
<div class="collapsed_row">
  <%= f.check_box :agree %>
  <%= f.label :agree %>
</div>
