<!-- pass in f as form value, and resource as resource, from resources_checkboxes partial  -->

<!-- class="nested-fields" is required for the nested jquery-->
<div class="nested-fields">
  <div class="checkbox_panel">
    <div class="right">
      <%= link_to_remove_association "X", f, class: "small-button right"  %>
    </div>
    <ul class="no_bullets">
      <%= f.collection_check_boxes(:filter_ids, Filter.restrict_to(resource).alphabetical, :id, :name) do |b| %>
        <li><%= b.label { b.check_box + ' ' + b.text} %></li>
      <% end %>
    </ul>
  </div>
</div>