@import "vars",
        "foundation/functions";

@import url(https://fonts.googleapis.com/css?family=Asap:400,700,400italic);
$body-font-family: 'Asap', verdana, arial, helvetica, sans-serif;

// Create custom column classes so we're framework neutral
  @mixin columns    ($size, $num) { @extend .#{$size}-#{$num};  @extend .columns; }
  .s1  { @include columns("small",  "1");  }
  .s2  { @include columns("small",  "2");  }
  .s3  { @include columns("small",  "3");  }
  .s4  { @include columns("small",  "4");  }
  .s5  { @include columns("small",  "5");  }
  .s6  { @include columns("small",  "6");  }
  .s7  { @include columns("small",  "7");  }
  .s8  { @include columns("small",  "8");  }
  .s9  { @include columns("small",  "9");  }
  .s10 { @include columns("small",  "10"); }
  .s11 { @include columns("small",  "11"); }
  .s12 { @include columns("small",  "12"); }
  .m1  { @include columns("medium", "1");  }
  .m2  { @include columns("medium", "2");  }
  .m3  { @include columns("medium", "3");  }
  .m4  { @include columns("medium", "4");  }
  .m5  { @include columns("medium", "5");  }
  .m6  { @include columns("medium", "6");  }
  .m7  { @include columns("medium", "7");  }
  .m8  { @include columns("medium", "8");  }
  .m9  { @include columns("medium", "9");  }
  .m10 { @include columns("medium", "10"); }
  .m11 { @include columns("medium", "11"); }
  .m12 { @include columns("medium", "12"); }
  .l1  { @include columns("large",  "1");  }
  .l2  { @include columns("large",  "2");  }
  .l3  { @include columns("large",  "3");  }
  .l4  { @include columns("large",  "4");  }
  .l5  { @include columns("large",  "5");  }
  .l6  { @include columns("large",  "6");  }
  .l7  { @include columns("large",  "7");  }
  .l8  { @include columns("large",  "8");  }
  .l9  { @include columns("large",  "9");  }
  .l10 { @include columns("large",  "10"); }
  .l11 { @include columns("large",  "11"); }
  .l12 { @include columns("large",  "12"); }

// Topbar overrides
  $topbar-bg-color: $primary;
  $topbar-bg: $topbar-bg-color;

  $topbar-link-bg-hover: darken($primary, 5%);
  $topbar-dropdown-link-bg-hover: $topbar-link-bg-hover;
  $topbar-dropdown-link-bg: $primary;
  $topbar-dropdown-bg: transparent;

  $topbar-height: rem-calc(50);

  $primary-color: $primary;
  $secondary-color: $secondary;
  $alert-color: $alert;
  $info-color: $info;
  $success-color: $success;
  $body-bg: $white;
  $body-font-color: $body;
  $heading-font-color: $body-dark;
  $anchor-font-color: $link;

// Misc overrides
  $row-width: rem-calc(1280);
  $topbar-breakpoint: rem-calc(660px);
  $topbar-media-query: "screen only and (min-width:600px)";

@import "foundation";
