// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns {
  @extend .small-6;
  @extend .columns;
  }
@mixin three-columns {
  @extend .small-3;
  @extend .columns;
  }
@mixin nine-columns {
  @extend .small-9;
  @extend .columns;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns;
  }
.three-column {
  @include three-columns;
  }
.nine-column {
  @include nine-columns;
  }
.form {
  @include grid-column(6);
  }
.collapsed_row {
  @extend .collapse;
  @extend .row;
  clear: both;
}
  
.big-button {
  @extend .button;
  @extend .radius;
  }
.small-button {
  @extend .button;
  @extend .radius;
  @extend .small;
}
  
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
footer {
  background-color: #aaa;
  font-size: 10pt;
  color: #eee;
}
