
// Overwrite default colors and font

$body-font-family: "Avenir Roman", "Helvetica", Helvetica, Arial, sans-serif;

$body-bg: white;
$body-font-color: #444;
$heading-font-color: #444;

$primary-color: #701;
$secondary-color: #444;
$info-color: #888;
$alert-color: #c60f13;
$success-color: #5da423;

// import the CSS framework

@import "foundation";

// Create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns {
  @extend .small-6;
  @extend .columns;
  }
@mixin three-columns {
  @extend .small-3;
  @extend .columns;
  }
@mixin nine-columns {
  @extend .small-9;
  @extend .columns;
  }
  
@mixin five-columns {
  @extend .small-5;
  @extend .columns;
  padding: 0;
  }
@mixin seven-columns {
  @extend .small-7;
  @extend .columns;
  padding: 0;
  }

// create your own classes
// to make views framework-neutral
.column {
  @include six-columns;
  }
.three-column {
  @include three-columns;
  }
.search-label {
  @include five-columns;
  }
.search-param {
  @include seven-columns;
  }
.nine-column {
  @include nine-columns;
  }
.form {
  @include grid-column(6);
  }
.collapsed_row {
  @extend .collapse;
  @extend .row;
  clear: both;
}
  
.big-button {
  @extend .button;
  @extend .radius;
  @extend .small;
  }
.small-button {
  @extend .button;
  @extend .radius;
  @extend .tiny;
  margin: 0;
}
.search-button {
  @extend .button;
  @extend .radius;
  line-height: 0px !important;
  font-size: 0.7rem !important;
}

// Apply check, x, and right-arrow styles for status on user_key show page
.success {
  color: $success-color;
}
.alert {
  color: $alert-color;
}
.admin_only {
  background-color: lighten($primary-color, 65)
}
.staff_only {
  background-color: lighten($primary-color, 70);
}
.public_comments {
  background-color: lighten($body-font-color, 60)
}
.no_bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}


#error_explanation {
  background-color: lighten($primary-color, 55);
  border-radius: 8px;
}

.tabs dd.active a, .tabs .tab-title.active a {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.tabs-content > .content {
  padding: 2em;
}

// Apply styles to HTML elements
// to make views framework-neutral.
// (This part came default with foundation.)
fieldset, hr {
  border: 1px solid; 
}
main {
  @include twelve-columns;
  background-color: white;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
footer {
  background-color: #aaa;
  font-size: 10pt;
  color: #eee;
}
label {
  font-size: 1em;
  margin-bottom: 0.5em;
}