// Overwrite default colors and font

$body-font-family: "Avenir Roman", "Helvetica", Helvetica, Arial, sans-serif;

$body-bg: white;
$body-font-color: #444;
$heading-font-color: #444;

$primary-color: #8C001A;
$secondary-color: #444;
$info-color: #888;
$alert-color: #c60f13;
$success-color: #5da423;

$global-radius: 3px !default;

// import the CSS framework

@import "foundation";

// Create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns {
  @extend .small-6;
  @extend .columns;
  }
@mixin three-columns {
  @extend .small-3;
  @extend .columns;
  }
@mixin nine-columns {
  @extend .small-9;
  @extend .columns;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns;
  }
.three-column {
  @include three-columns;
  }
.nine-column {
  @include nine-columns;
  }
.form {
  @include grid-column(6);
  }
.collapsed_row {
  @extend .collapse;
  @extend .row;
  clear: both;
}
  
.big-button {
  @extend .button;
  @extend .radius;
  }
.small-button {
  @extend .button;
  @extend .radius;
  @extend .small;
}
  
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
footer {
  background-color: #aaa;
  font-size: 10pt;
  color: #eee;
}
