@import "vars";

// Navbar
  nav.top-bar {
    div.top-bar-section {
      ul#nav-links li.active > a,
      ul#drop-links li.active > a  { background-color: $topbar-link-bg-hover; }

      #search-form {
        @media screen and (max-width: rem-calc(845)) { display: none; }

        .search-label {
          padding-right: 0;
          padding-left: 0;
        }

        .search-button {
          padding: 0;
          font-size: 0.7rem;
          color: $body-dark;
          background: $white;
          border: none;
          border-radius: 0;
          height: 1.75rem;
          top: 0.6875rem;
          line-height: 1.75rem;
          cursor: default;
        }


        .search-param {
          padding-left: 0;

          #search {
            border: none;
            box-shadow: none;
          }
        }
      }

      .name h1 { font-size: 1.1875rem; }
    }
  }

// Body
#wrapper {
  position: relative;
  min-height: 100%;
  // min-width: rem-calc(1000px);

   main { margin-bottom: 10rem; }
}

// Success/alert classes
  .success {
    color: $success;
  }

  .alert {
    color: $alert;
  }

// Misc classes
  .no_bullets {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .form { @include grid-column(6); }

  .collapsed_row {
    @extend .collapse;
    @extend .row;
    clear: both;
  }

  .big-button {
    @extend .button;
    @extend .radius;
    @extend .small;
  }

  .small-button {
    @extend .button;
    @extend .radius;
    @extend .tiny;
    margin: 0;
  }

// Footer
  #back-to-top {
    position: fixed;
    bottom: 20px;
    left: 5rem;
    display: none;
    cursor: pointer;
    z-index: 999;
  }

  footer {
    background: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 1.5em;
    text-align: center;
    color: $body-dark;
    // font-size: 1em;

    // #copy { font-size: 0.7em; }
  }
