$primary: #990000;
$secondary: #D4D4D4;
$disabled: #555;
$alert: #fcf8e3;
$alert-border: darken($alert, 1%);

$secondary-dark: #464646;
$secondary-light: #F4F4F4;
$white: #fff;
$black: #000;
$light-blue: #7493AA;
$green: #999933;
$body: #686565;
$body-dark: #222;
$placeholder: rgba(0,0,0,0.4);
$placeholder-blue: #D4DEE2;
