<h1>Listing Organizations</h1>

<%= render partial: "shared/bad_organizations_warning" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Used?</th>
      <th>Active?</th>
    </tr>
  </thead>

  <tbody id="organizations">
    <%= render partial: 'organizations/index_partials/organization', collection: @organizations %>
  </tbody>
</table>

<!-- Kaminari paginate -->
<div id="paginator">
  <%= paginate @organizations, remote: true %>
</div>