<h1>Listing Filters</h1>

<%= markdown(Page.find_or_create("filter-instructions").message) %>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Filter</th>
      <th>Used?</th>
    </tr>
  </thead>

  <tbody id="filters">
    <%= render partial: 'filters/index_partials/filter', collection: @filters %>
  </tbody>
</table>

<div class="row">
  <div class="s6">
    <% if @current_user.role? :admin %>
      <%= link_to 'New Filter', new_filter_path, class: "big-button" %>
    <% end %>
   &nbsp;
  </div>

  <%#  Kaminari paginate  %>
  <div class="s6">
    <div id="paginator">
      <%= paginate @filters, remote: true %>
    </div>
  </div>
</div>


