<h1>Listing Filters</h1>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Filter</th>
      <th>Used?</th>
    </tr>
  </thead>

  <tbody id="filters">
    <%= render partial: 'filters/index_partials/filter', collection: @filters %>
  </tbody>
</table>

<!-- Kaminari paginate -->
<div id="paginator">
  <%= paginate @filters, remote: true %>
</div>

<% if @current_user.role? :admin %>
  
  <br/>
  <%= link_to 'New Filter', new_filter_path, class: "big-button" %>
  <br/>
  
  <%= link_to 'Sync Columns', repopulate_columns_path,
      method: :patch, class: "small-button center",
      data: { disable_with: "Please Wait...", confirm: "Are you sure? This will send 8 requests to CollegiateLink API for their colummns." } %>

<% end %>