<div id="back-to-top">
  Back to Top
</div>

<footer>
  <%# If the user is logged in, provide a link to the home dashboard. %>
  <% if @current_user %>
    <%= link_to 'Home', home_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <% end %>

  <%# Provide a link for each possible not-so-static page. %>
  <%# Iterate over the first 4 only... %>
  <% Page::PAGE_LIST.keys.first(4).each_with_index do |page_url, index| %>
    <% unless index == 0 %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= link_to page_url.capitalize, page_path(page_url) %>
  <% end %>

  <% if Rails.env.development? %>
    <% if @current_user and @current_user.role? :admin %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <%= link_to 'Drop Admin', toggle_admin_path %>
    <% elsif @current_user %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <%= link_to 'Become Admin', toggle_admin_path %>
    <% end %>
  <% end %>

  <br />
  <div id="copy">
    &copy; 2015 Carnegie Mellon University &mdash; Information Systems
  </div>
</footer>
