<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div data-alert class="alert-box alert<%#= name.to_s == 'notice' ? 'success' : 'alert' %>">
      <a href="#" class="close">&times;</a>
      <%= content_tag :div, msg %>
    </div>
  <% end %>
<% end %>
