<header class="contain-to-grid">
  <nav id="top-bar" class="top-bar" data-topbar role="navigation">

    <ul class="title-area">
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      <li class="name">
        <h1>
          <%= link_to root_url, { id: "root-link" } do %>
            <div id="large-logo"><%= image_tag "cmu_logo.png", size: "280x40", id: "cmu_logo" %>&nbsp;&nbsp;The Bridge API</div>
            <div id="medium-logo">The Bridge API</div>
          <% end %>
        </h1>

      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <div class="top-bar-section">
      <%= render 'layouts/navigation_links' %>
    </div>

  </nav>
</header>
