<html>
  <body>
    <p><%= @recipient.nil? ? "Hello" : @recipient.first_name %>, you have received a message from The Bridge API:</p>

    <hr/>

    <%= yield %>

    <hr/>

    <p><em>Do not reply to this email. If you are experiencing issues, please contact the system administrator.</em></p>

    <%#  This email is triggered in the UserKey conroller.  %>
    <%#  The development-only letter_opener gem to open the email in a new tab. %>

  </body>
</html>
