<html>
  <body>
    <p><%= @current_user.andrew_id %>, you have received a message from Shiny Metal API:</p>

    <hr/>
    
    <%= yield %>
    
    <hr/>

    <p><em>If you are experiencing issues, please contact the system administrator.</em></p>
  </body>
</html>
